.hero-title, .point {
  text-align: center;
  font-family: monospace;
}

.hero-title {
  color: white;
  font-family: monospace;
  margin-top: 5em;
  margin-bottom: 1em;
}

.point-title {
  color: white;
  background-color: light;
  font-family: monospace;
  font-size: 28px;
  margin-bottom: 1em;
}

.point-description {
  color: white;
  font-family: monospace;
  font-size: 16px;
}

.point .custom-icon {
  color: white;
  font-size: 34px;
  text-align: center;
}

body {
  background-image: url("stylusPic.jpg");
  background-size: cover;

  /* background-color: lightgray; */
 }
