.player-bar {
  width: 80%;
  margin: 3em auto;
  text-align: center;
}

#buttons button {
  margin: 0 2.5em;
}

#buttons button span {
  font-size: 20px;
  padding: 0 5px;
}

#volume-control {
  width: 25%;
  margin-bottom: 0;
}

#volume-control span {
  width: 20%;
  display: flex;
}

#volume-control input {
  width: 100%;
  display: flex;
}

#volume-control .custom-icon {
  font-size: 1.5em;
  margin-right: .75em;
}

#time-control {
  width: 60%;
  margin: auto;
}

#time-control input {
  width: 85%;
  display: inline;
  margin: 0 .75em;
}

.current-time {
  text-align: center;
  display: inline;
  font-size: 1em;
}

.total-time {
  text-align: center;
  display: inline;
  font-size: 1em;
}
