.App {
  text-align: center;
  color: black;
}

h1 {
  font-family: monospace;
  font-size: 50px;
}

.Landing {
  padding: 10px;
  background-color: black;
  color: black;
  font-family: monospace;
  font-size: 20px;
}

.Library {
  padding: 10px;
  background-color: black;
  color: black;
  font-family: monospace;
  font-size: 20px;
}
