.App {
  text-align: center;
  color: black;
}

h1 {
  color: white;
  font-family: monospace;
  font-size: 50px;
}

.Landing {
  padding: 10px;
  /* background-color: black; */
  font-family: monospace;
  font-size: 20px;
  color: white;
}

.Library {
  padding: 10px;
  /* background-color: black; */
  /* color: white; */
  font-family: monospace;
  font-size: 20px;
  color: white;
}
