.App {
  text-align: center;
  color: black;
}

h1 {
  font-family: monospace;
  font-size: 50px;
}

nav1 {
  padding: 10px;
  background-color: black;
  color: black;
  font-family: monospace;
  font-size: 20px;
}

nav2 {
  padding: 10px;
  background-color: black;
  color: black;
  font-family: monospace;
  font-size: 20px;
}
